html,
body {
  height: 100%;
}

body {
  font-family: core_sans_n45_regular, 'Avenir Next', 'Helvetica Neue', Helvetica,
    Arial, 'PingFang SC', 'Source Han Sans SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'WenQuanYi MicroHei', sans-serif;
}

#root {
  header {
    text-align: center;
    color: #313131;
    h1 {
      font-weight: normal;
    }
  }
  main {
    max-width: 700px;
    margin: 40px auto;
    font-family: inherit;
    section.drop-area {
      border: 1px solid #dcdfe5;
      border-radius: 4px;
      height: 240px;
      text-align: center;
      padding-top: 25px;
      margin-bottom: 16px;
      background-color: #fafafa;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      * {
        pointer-events: none;
      }
      .drop-tip {
        color: #999;
        display: block;
        font-size: 30px;
      }
      .icon {
        background: url('https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/soutu/img/soutu_icons_sample_e128610.png')
          no-repeat;
        display: inline-block;
      }

      .drop-icon {
        margin-top: 6px;
        width: 28px;
        height: 28px;
        background-position: -70px -2px;
      }

      &.drag-over {
        background-color: #f2f2f2;

        .drop-tip {
          color: #555;
        }

        .drop-icon {
          background-position: -42px -2px;
        }
      }
    }

    section.upload-area {
      border: 1px solid #dcdfe5;
      border-radius: 4px;
      height: 440px;
      overflow-y: scroll;

      .upload-title {
        line-height: 40px;
        background-color: #fafafa;
        text-align: center;
        color: #404040;
        border-bottom: 1px solid #dcdfe5;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin: 0;
        font-family: inherit;
        font-weight: normal;
      }

      .upload-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        .upload-list-child {
          line-height: 30px;
          color: #666f80;
          display: flex;
          border-bottom: 1px solid #cdcdcd;
          position: relative;
          .bg {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 0;
            background-color: #e5ffef;
            z-index: -1;
          }

          span {
            flex: 2;
            text-align: center;
            display: flex;
            align-items: center;
          }

          .name {
            flex: 4;
            text-align: left;
            padding-left: 15px;
          }

          .button-area {
            flex: 1;
            .icon {
              display: inline-block;
              text-align: center;
              cursor: pointer;
            }
          }
        }
      }
    }

    .btn-group {
      text-align: center;
      margin-top: 30px;
      .btn {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 30px;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        outline: none;
        border: 1px solid transparent;
        white-space: nowrap;
        user-select: none;
        border-radius: 4px;
        padding: 0 30px;
        font-size: 14px;
        line-height: 42px;
      }
  
      .btn-upload {
        color: #fff;
        background-color: #1989fa;
        border-color: #1989fa;
        transition: all 0.15s;
        &:hover {
          background-color: #0577ea;
          border-color: #0577ea;
        }
      }

      .btn-clear {
        border-color: #ccc;
        transition: all 0.15s;
        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }
  .preview {
    width: 500px;
    max-height: 440px;
    overflow-y: auto;
    border: 1px solid #dcdfe5;
    border-radius: 4px;
    background: #fff;
    display: none;
    

    .close {
      position: absolute;
      top: 0px;
      right: 15px;
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #f5f5f5;
      }
    }
    .content {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 40px;
      overflow: auto;
    }
  }


  
}
